
.forum-header[b-4pgoxtcrxx] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.forum-footer[b-4pgoxtcrxx] {
    margin-top: 15px;
}

.author-info[b-4pgoxtcrxx] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .author-info .posted-by[b-4pgoxtcrxx], .author-info .username[b-4pgoxtcrxx], .author-info .posted-date[b-4pgoxtcrxx] {
        font-size: 0.9em;
        color: #888;
    }

    .author-info .username[b-4pgoxtcrxx] {
        font-style: italic;
        margin-left: 5px;
    }

    .author-info .posted-date[b-4pgoxtcrxx] {
        margin-top: 5px;
        font-size: 0.85em;
        color: #aaa;
    }

.forum-status[b-4pgoxtcrxx] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    color: #888;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}
