@page "/"
@inject IUserService UserService
@inject IAuthenticationService AuthService
@inject IJwtService JwtService
<PageTitle>Home</PageTitle>

<h1>Home</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}
