<div class="forum-header">
    <h2>@Forum.Title</h2>
    <span class="forum-status">@Forum.Status</span>
</div>
<div class="forum-footer">
    <div class="author-info">
        <span class="username">~ @Forum.Username</span>
        <span class="posted-date">@Forum.Created.ToString("dd-MM-yyyy HH:mm")</span>
    </div>
</div>
@code {
    [Parameter] public ForumResult Forum { get; set; }
}
